{% extends 'base.html' %}
{% block title %} Courses {% endblock %}
{% block content %}
    <div class="d-flex flex-wrap">
        {% for course in courses %}
        <div class="w-50">
        <div class="card m-3">
            <div class="row">
                <div class="col-4">
                    <div class="d-flex align-items-middle jusify-content-center">
                        <img src="{{url_for('static',filename='assets/mgnrega_logo.jpeg')}}" class="img-fluid p-5" alt="MGNREGA Logo">
                    </div>
                </div>
                <div class="col-8">
                <div class="card-body">
                    <div class="fs-3">{{course.name}}</div>
                    <hr>
                    <p class="fs-5 my-2 text-start">{{course.description}}</p>
                    <hr>
                    <div class="d-flex justify-content-center">
                    <a href="{{'/course/%s' % course.id}}" class="btn btn-primary">View Course</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
        </div>
            <!-- <div class="card">
            <h5 class="card-header">{{course.name}} </h5>
            <div class="card-body">
                <h5 class="card-title">{{course.manifest_title}}</h5>
                <p class="card-text">{{course.description}}</p>
                <a href="{{'/course/%s' % course.id}}" class="btn btn-primary">View Course</a>
            </div>
            </div> -->
        {% endfor %}
    </div>


{#<!-- <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text"><strong>Course Description:</strong>{{course.description}}</p>
                <p class="card-text"><strong>Course Launch URL:</strong>{{course.launch_url}}</p>
                <p class="card-text"><strong>Course ID:</strong>{{course.package_id}}</p>
                <p class="card-text"><strong>User:</strong>{{user.name}}</p>
                <p class="card-text"><strong>User ID:</strong>{{user.email}}</p>
                <a href="{{'/course/%s' % course.id}}" class="btn btn-primary">View Course</a>
            </div> -->#}

{% endblock %}