{% extends 'base.html' %}
{% block title %} Change Password {% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-9">
        <div class="card mt-5">
            <div class="card-header">
                <h4 class="card-title mb-0">Change Password</h4>
            </div>
            <div class="card-body">
                <form action="{{url_for('auth.change_password')}}" method="post">
                    <div class="d-grid gap-2">
                        <div class="form-floating">
                        {{form.old_password(class='form-control', placeholder='Old Password')}}
                        {{form.old_password.label(class="form-label") }}
                        </div>
                        <div class="form-floating">
                        {{form.password(class='form-control', placeholder='Password')}}
                        {{form.password.label(class="form-label") }}
                        </div>
                        <div class="form-floating">
                        {{form.confirm_password(class='form-control', placeholder='Confirm Password')}}
                        {{form.confirm_password.label(class="form-label") }}
                        </div>
                        {{form.submit(class='btn btn-primary')}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    (function(){

        // Get form contorls for validation
        const form = document.querySelector("form");        

        // RSA encryption on Submit
        form.addEventListener("submit", function (event) {
            try {
                encryptAllPasswordFieldsRSA(form);
                form.submit();
            } catch (error) {
                console.error("Encryption failed:", err);
                    event.preventDefault(); // stop submission if encryption fails
            }
        });

        document.addEventListener('DOMContentLoaded', ()=>{
            fetchPublicKey();
        });

    })();
</script>
{% endblock %}