{%extends 'base.html'%}
{% block title %} Contact {%endblock%}
{%block content%}
<!-- for desktops and laptops -->
 <div class="container pt-5">
    <div class="row g-3">
        <div class="col-12 col-md-6">
            <div class="d-flex justify-content-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3202.975928402601!2d77.18778967511483!3d28.566443775700915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1d86f4bf9563%3A0x78a36449d9899e9f!2sDeutsche%20Gesellschaft%20f%C3%BCr%20Internationale%20Zusammenarbeit%20(GIZ)%20GmbH!5e1!3m2!1sen!2sin!4v1750273216648!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="text-center fw-bold fs-5 pt-3">GIZ Office</div>
            <div class="text-center px-5 py-2 mx-2">Deutsche Gesellschaft für Internationale Zusammenarbeit (GIZ) GmbH, A2/18, Block A 2, Nauroji Nagar, Safdarjung Enclave, New Delhi, Delhi 110029</div>
        </div>
        <div class="col-12 col-md-6">
            <div class="d-flex justify-content-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3201.4692472193856!2d77.2103778!3d28.61591!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce2b6943f2eb3%3A0x1659fe3e955af504!2sKrishi%20Bhavan!5e1!3m2!1sen!2sin!4v1750273430819!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="text-center fw-bold fs-5 pt-3">MoRD</div>
            <div class="text-center px-5 py-2 mx-2">MGNREGA (Ministry of Rural Development), G Wing, Krishi Bhawan New Delhi Delhi , 110001</div>
        </div>
    </div>
</div>
{%endblock%}